# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store

# VSCode
.vscode/

# production
/build

# misc
*.pem

# debug
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*
.env*

# firebase
firebase-debug.log
firestore-debug.log